 @import "fonts.css"

green = #03a679
darkgreen = darken(green,20%)
darkergreen = darken(green,40%)

grisclaro = #FAFAFA
grisobscuro = #eeeeee

cblack = #3a3a3a


*
	font-family 'Open Sans', sans-serif

header
	background green
	border-bottom: solid 4px darkgreen

hr 
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent)
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent)
	border: 0
	height: 1px
	margin: 22px 0 22px 0

#estu,
#proy
	display none

.separacionVertical
	padding-bottom 20px

.separacionVerticalMin
	padding-bottom 10px

.navbar-brand 
	img
		border-radius 50%
		width 130px
	h1
		color white
.titulo,
.desc
	padding 0 10px
.desc
	text-align justify

.titulo
	font-weight 600

.expe-lugar
	display	inline-block
	margin-left	10px
	color darkgreen
	font-size 16px

.proyl
	text-decoration none

	&:hover
		box-shadow 10px 10px 10px red

a.thumbnail

		&:hover
		&:focus
		&:active
			border-color green
			text-decoration none
			cursor pointer

.tituloPrincipal
	color green
	font-weight 600

.fondoObscuro
	background grisclaro
	border-top solid 1px grisobscuro
	border-bottom solid 1px grisobscuro
footer
	border-top solid 5px darkergreen
	background cblack
	height 160px

	p
		color: #929699;
		text-align: center;
		margin: 0 0 1em 0;
		&:first-child
			color: #c4c4c4;
			text-align: center;
			margin: 2em 0 0.2em 0
//@media (max-width: 490px)
// @media (min-width: 490px) and (max-width: 768px)
//@media (min-width: 768px) and (max-width: 992px)
//@media (min-width: 992px)

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color darkgreen
}


