@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-q3c8jz');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-q3c8jz') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-q3c8jz') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-q3c8jz') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-q3c8jz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-studies:before,
.icon-projects,
.icon-information:before,
.icon-contact:before{
	padding-right: 5px;
	font-size: 16px;
}

.icon-award:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e606";
}
.icon-information:before {
	content: "\e601";
}
.icon-projects:before {
	content: "\e602";
}
.icon-download:before {
	content: "\e605";
}
.icon-contact:before {
	content: "\e603";
}
.icon-studies:before {
	content: "\e604";
}
