@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5wy6tp');
	src:url('fonts/icomoon.eot?#iefix-5wy6tp') format('embedded-opentype'),
		url('fonts/icomoon.woff?-5wy6tp') format('woff'),
		url('fonts/icomoon.ttf?-5wy6tp') format('truetype'),
		url('fonts/icomoon.svg?-5wy6tp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
	text-decoration: none;
	color: #26A4D7;
}

body{
	background: #F7F7F7;
	font-family: 'Open Sans Condensed';
	margin-top: 100px;
}

footer{
	border-top: solid 5px #538bab;
	background: #043D5E;
	height: 160px;
}

footer p{
	color: #929699;
	text-align: center;
	margin: 0 0 1em 0;
}

footer p:first-child{
	color: #c4c4c4;
	text-align: center;
	margin: 2em 0 0.2em 0;
}

footer p:after{
	content: " -";
}

footer p span
{
	font-weight: bold;
}

footer p span:before{
	content: "- ";
}
footer p span:after{
	content: " -";
}

header{
	/*background: #056DA9;*/
	/*background: url("../images/bg.png") repeat center bottom;
	border-bottom: solid 5px #155D86;*/
	position: fixed;
	z-index: 99;
	top:0;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

header .top{
	background: -moz-linear-gradient(top, rgba(5, 132, 169, 1) 0%, rgba(9, 114, 158, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5, 132, 169, 1)), color-stop(100%,rgba(9, 114, 158, 1)));
	background: -webkit-linear-gradient(top, rgba(5, 132, 169, 1) 0%,rgba(9, 114, 158, 1) 100%);
	background: -o-linear-gradient(top, rgba(5, 132, 169, 1) 0%,rgba(9, 114, 158, 1) 100%);
	background: -ms-linear-gradient(top, rgba(5, 132, 169, 1) 0%,rgba(9, 114, 158, 1) 100%);
	background: linear-gradient(to bottom, rgba(5, 132, 169, 1) 0%,rgba(9, 114, 158, 1) 100%);
	border-bottom: solid 5px #155D86;
	height: 40px;
}

header .top h1{
	color: white;
	display: inline-block;
	font-size: 25px;
	margin: 0.15em 0;
	font-weight: 100;
}

header .top  h1 span{
	color: #ccc;
}

header .top h1,
header .top #logo{
	display: inline-block;
	vertical-align: top;
}

header .top #logo{
	width: 33px;
	margin: 0.25em;
}

header .top .btnm{
	font-size: 25px;
	background: rgb(175, 175, 175);
	color: rgb(98, 99, 112);
	display: block;
	position: absolute;
	top:25px;
	right: 5px;
	border-radius: 50%;
	padding: 0.15em;
	border: solid 2px rgb(98, 99, 112);
}
header .top .btnm1{
	font-size: 25px;
	background: rgb(175, 175, 175);
	color: rgb(98, 99, 112);
	display: block;
	position: absolute;
	top:25px;
	right: 42px;
	border-radius: 50%;
	padding: 0.15em;
	border: solid 2px rgb(98, 99, 112);
}

header nav{
	background: #E1E1E1;
	margin:0;
	padding: 0;
}

header nav ul{
	margin:0;
	padding: 0;
	display: inline-block;
}

header nav ul a li{
	display: inline-block;
	font-size: 16px;
	list-style: none;
	padding: 0.3em 0.65em;
	color: #878787;
	transition:all 0.5s ease;
}

header nav ul a li:hover{
	background: #aeadad;
	color: white;

}

header nav ul a{
	text-decoration: none;
	color:#f1f1f1;
}

#proyectos{
	margin:1em;
}

.hiddn{
	display: none;	
}

#infopersonal{
	position: relative;
}

#tagint{
	background: #217AB0;
	padding: 1em;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#estudios .universidad{
	width: 90%;
	border-radius: 0.5em;
	background: rgb(197, 216, 247);
	border: solid 1px #efefef;
	margin: 0 auto 25px auto;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	color:#929292;
}

#estudios .universidad .einfo,
#estudios .universidad .eimg{
	display: inline-block;
	vertical-align: top;
}

#estudios .universidad .einfo{
	width: 70%;
	padding: 1em;
	box-sizing:border-box;
	background: #FBFBFB;
}

#estudios .universidad .einfo h3{
	margin-top: 0;
}

#estudios .universidad .einfo .eescuela{
	margin-bottom: 0;
}

#estudios .universidad .eimg{
	width: 29%;
	height: 100px;
}

#estudios .universidad .eimg span{
	color: rgb(232, 196, 75);
	font-size: 150px;
}

#tagint h2{
	font-size: 30px;
	color: #fff;
	margin-bottom:10px;
}

#tagint h3{
	margin-top:0px;
	font-size: 25px;
	font-weight: normal;
	color: #c8c8c8;
	margin-bottom: 0;
}

#tagint p{
	font-size: 18px;
	color:#c5c5c5;
}

#infopersonal figure{
	position:absolute;
	right: 60px;
	top: 70px;
}

#infopersonal figure img{
	border-radius: 10px;
	width: 120px;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.titulom,
.titulo{
	color: #878787;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
}

.titulom{
	margin: 16px;
}

.cinformacion{
	margin-top:1em;
	margin-bottom: 1em;
}

.cinformacion article{
	width: 80%;
	margin: 0 auto;
}

.cinformacion article .ccamp,
.cinformacion article .cinfo{
	display: inline-block;
	padding: 0.5em;
	width: 49%;
	box-sizing: border-box;
	vertical-align: top;
}

.cinformacion article .ccamp{
	background: #efeeee;
	text-align: right;
}

.cinformacion article .ccamp p{
	margin-top: 0;
	color:gray;
}

.cinformacion article .cinfo{
	text-align: justify;
}

.curso{
	min-height: 150px;
	background: #FBFBFB;
	width: auto;
	border: solid 1px #efefef;
	margin: 0 auto 15px auto;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	color:#929292;
}

.curso .curso_texto{
	padding: 20px;
	width: auto;
}

.curso .curso_texto h2{
	margin: 0 0 0.4em 0;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	border-bottom: solid 1px #d7d7d7;
}

.curso .curso_texto p{
	margin: 0;
	text-align: center;
}

.curso .curso_texto .fecha{
	margin-top:10px;
	text-align: right;
}

.curso .curso_texto .tecnologias{
	margin-top:10px;
	text-align: right;
	color: #26A4D7;
}

.curso figure{
	width: auto;	
	min-height: 100px;
	background-size: cover;
	background-position: center;
	border-radius: 5px 5px 0 0;
}

.curso .url{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
	border: solid 2px transparent;
	border-radius: 5px;
	transition: all 0.5s ease;
}

.infopersonal:before{
	font-family: 'icomoon';
	content: "\e600 ";
}

.estudios:before{
	font-family: 'icomoon';
	content: "\e602 ";
}

.proyectos:before{
	font-family: 'icomoon';
	content: "\e601 ";
}

.curso .url:hover{
	border: solid 2px #a0c6d5;
}

.icon-user:before {
	content: "\e600";
}
.icon-wrench:before {
	content: "\e601";
}
.icon-book:before {
	content: "\e602";
}
.icon-bookmark:before {
	content: "\e603";
}
.icon-github:before {
	content: "\e604";
}
.icon-download:before {
	content: "\e605";
}


@media screen and (max-width: 385px){
	header nav ul a li{
		width: 100%;
		padding-left: 35%;
	}

	body{
		margin-top: 155px;
	}

	#infopersonal figure{
		position:static;
	}

	#infopersonal figure img{
		display: inline-block;
		margin: 0 35%;
	}

	#tagint h2,
	#tagint h3,
	#tagint p{
		text-align: center;
	}

	.cinformacion article .ccamp,
	.cinformacion article .cinfo{
		display: block;
		width: 98%;
		vertical-align: top;
		text-align: center;
	}

	#estudios .universidad{
		margin-bottom: 60px;
	}

	#estudios .universidad .eimg span{
		text-align: right;
	}

	#estudios .universidad .einfo{
		width: 100%;
	}
}

@media screen and (min-width: 386px) and (max-width: 540px){

	body{
		margin-top: 155px;
	}

	#infopersonal figure{
		position:static;
	}

	#infopersonal figure img{
		display: inline-block;
		margin: 0 35%;
	}

	#tagint h2,
	#tagint h3,
	#tagint p{
		text-align: center;
	}

}

@media screen and (min-width: 850px){
	.curso{
		width: 80%;
	}

	.curso figure{
		position:absolute;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 0 5px 5px 0;
	}

	.curso .curso_texto{
		width: 50%;
		box-sizing: border-box;
	}

	.curso .curso_texto p{
		text-align: left;
	}

	.curso .curso_texto h2{
		text-align: left !important;
	}

}