{% load thumbnail %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>CV Juan Alberto Jimenez Angel</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Apasionado con las nuevas tecnologías de desarrollo de software que actualmente están permitiendo ser al mundo un lugar más rápido y cómodo." />
    
    <meta name="author" content="Juan Alberto Jimenez Angel" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/custom.css" %}">
	<link rel="shortcut icon" href="{% static "images/favico.ico" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid deletePaddings">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">
			      	<img src="{% static "images/avatar.jpg" %}" alt="">
			      	<h1>Juan Alberto Jiménez Ángel</h1>
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="/"><span class="icon-information"></span>Información</a></li>
			        <li><a href="/estudios"><span class="icon-studies"></span>Estudios</a></li>
			        <li><a href="/proyectos"><span class="icon-projects"></span>Proyectos</a></li>
			        <li class="active"><a href="/contactame"><span class="icon-contact"></span>Contactame</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<a href="https://github.com/jualjiman" target="_blank"><span class="icon-github" title="GitHub:Jualjiman"></span></a>
		<a href="{% static "Curriculum Juan Alberto Jimenez Angel Actual.pdf" %}" target="_blank"><span class="icon-download" title="Descargar curriculum"></span></a>
	</header>
	
	<section id="loading">
		<img src="{% static "images/loading.gif" %}">
	</section>
	<section id="mainContent">
		<div class="container-fluid">
			<div class="container separacionVertical">
				<h3 class="text-center tituloPrincipal">Contactame</h3>
		    	<form role="form">
		    		{# {% csrf_token %} #}
		    		<div class="alert alert-info" role="alert"></div>
		    		<div class="alert alert-warning" role="alert"></div>
		    		<div class="alert alert-danger" role="alert">
		    			{{ form.non_field_errors}}
		    		</div> 
		    		<div class="row">
				  		<div class="col-sm-6 form-group">
				    		<label for="id_nombre">Nombre</label>
				    		{{ form.nombre.errors }}
                            {{ form.nombre }}
				  		</div>
				  		<div class="col-sm-6 form-group">
				    		<label for="id_email">Email</label>
				    		{{ form.email.errors }}
                            {{ form.email }}
				  		</div>
				  		<div class="col-xs-12 separacionVertical">
				  			{{ form.mensaje.errors }}
                            {{ form.mensaje }}
				  		</div>
				  		<div class="col-md-12">
				  			<button id="btnSend" type="submit" class="btn btn-primary pull-right"><span class="icon-send"></span>Enviar</button>
				  		</div>
				  	</div>
				</form>
		    </div>
	    </div>
	</section>
	<footer>
		<p id="footer_titulo">
			<span>Curriculum</span> y portafolio
		</p>
		<p id="footer_creditos">Juan Alberto Jiménez Ángel</p>
	</footer>
<!-- ===================================JS====================================== -->
	<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/colsSameHeight-Bootstrap-3.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53648845-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- ===================================JS====================================== -->
</body>
</html>