<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ingeniero Juan Alberto Jiménez Ángel - Apasionado con las nuevas tecnologias de desarrollo de software que actualmente están permitiendo al mundo ser un lugar mas rápido y cómodo." />
    
    <meta name="author" content="Juan Alberto Jimenez Angel" />

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>.:CV. Juan Alberto Jimenez Angel</title>

	<link rel="stylesheet" href="/static/css/normalize.css"/>
	<link rel="stylesheet" href="/static/css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/static/images/bm.ico">
</head>
<body>
	<header>
		<section class="top">
			<img id="logo" src="/static/images/bm3.png" alt=""/>
			<h1><span>Ing.</span> Juan Alberto Jimenez Angel</h1>
			<a href="https://github.com/jualjiman" target="_blank" title="GitHub" class="icon-github btnm"></a>
			<a href="/static/CV.Juan.Alberto.Jimenez.Angel.pdf" target="_blank" title="Curriculum descargable" class="icon-download btnm1"></a>
		</section>
		<nav>
			<ul>
				<a href="#"><li class="infopersonal" title="Información general"> Información</li></a>
				<a href="#"><li class="estudios" title="Estudios y cursos"> Estudios y cursos</li></a>
				<a href="#"><li class="proyectos" title="Proyectos"> Proyectos</li></a>
			</ul>
		</nav>
	</header>

	<section id="infopersonal">
		<h2 class="titulom">Información general</h2>
		<article id="tagint">
			<figure>
				<img src="/static/images/avatar.jpg" alt="">
			</figure>
			<h2>Juan Alberto Jimenez Angel</h2>
			<h3>Ingeniero en sistemas computacionales</h3>
			<p>Apasionado con las nuevas tecnologias de desarrollo de software que actualmente están permitiendo al mundo ser un lugar mas rápido y cómodo. </p>
		</article>
		
		<section class="cinformacion">
			<article>
				<div class="ccamp">Lugar de nacimiento</div>
				<div class="cinfo">Acapulco, Gro.</div>	
			</article>

			<article>
				<div class="ccamp">Fecha de nacimiento</div>
				<div class="cinfo">27 de Mayo de 1990</div>	
			</article>
			<article>
				<div class="ccamp">Estado civil</div>
				<div class="cinfo">Soltero</div>	
			</article>
			<article>
				<div class="ccamp">CURP</div>
				<div class="cinfo">JIAJ900527HGRMNN06</div>	
			</article>
			<article>
				<div class="ccamp">Tipo Sanguíneo</div>
				<div class="cinfo">O+</div>	
			</article>
			<article>
				<div class="ccamp">Domicilio Particular</div>
				<div class="cinfo">Calle Art. 123, Manzana 8 Lte. 14, Fracc. Ruffo Figueroa C.P.39470, Acapulco, Gro.</div>	
			</article>
			<article>
				<div class="ccamp">Telefono</div>
				<div class="cinfo">(744) 4 60 91 78</div>	
			</article>
			<article>
				<div class="ccamp">Celular</div>
				<div class="cinfo">(744) 9 10 65 05</div>	
			</article>
			<article>
				<div class="ccamp">Email</div>
				<div class="cinfo">jualjiman@gmail.com</div>	
			</article>
			<article>
				<div class="ccamp">Cedula Profesional</div>
				<div class="cinfo">8478530</div>	
			</article>
		</section>

		<h2 class="titulom">Tecnologías</h2>

		<section class="cinformacion">
			<article>
				<div class="ccamp">Desktop</div>
				<div class="cinfo">C#, Java</div>	
			</article>
			<article>
				<div class="ccamp">Frontend</div>
				<div class="cinfo">HTML5, CSS3, Stylus, Responsive design, Boostrap, Javascript, jQuery</div>	
			</article>
			<article>
				<div class="ccamp">Backend</div>
				<div class="cinfo">PHP, Python & Django</div>	
			</article>
			<article>
				<div class="ccamp">SEO</div>
				<div class="cinfo">Básico</div>	
			</article>
			<article>
				<div class="ccamp">Sistema de control de versiones</div>
				<div class="cinfo">GitHub</div>	
			</article>
			<article>
				<div class="ccamp">DBMS</div>
				<div class="cinfo">Firebird, MySQL, SQLite</div>	
			</article>
			<article>
				<div class="ccamp">Móvil</div>
				<div class="cinfo">XAML, Java Android (Básico)</div>	
			</article>
			<article>
				<div class="ccamp">Reporteadores</div>
				<div class="cinfo">iReports, Cristal Reports, FPDF</div>	
			</article>
			<article>
				<div class="ccamp">Redes</div>
				<div class="cinfo">Nivel intermedio</div>	
			</article>
			<article>
				<div class="ccamp">Sistemas Operativos</div>
				<div class="cinfo">Windows, Linux (Basico)</div>	
			</article>
			<article>
				<div class="ccamp">Administracion de servidores</div>
				<div class="cinfo">Shared Hosting, VPS</div>	
			</article>
			<article>
				<div class="ccamp">Mantenimiento</div>
				<div class="cinfo">Preventivo y correctivo</div>	
			</article>
		</section>

		<h2 class="titulom">Lenguajes</h2>
		<section class="cinformacion">
			<article>
				<div class="ccamp">Español</div>
				<div class="cinfo">Nativo</div>	
			</article>
			<article>
				<div class="ccamp">Ingles</div>
				<div class="cinfo">Intermedio</div>	
			</article>
		</section>

		<h2 class="titulom">Experiencia profesional</h2>
		<section class="cinformacion">
			<article>
				<div class="ccamp">
					<p><strong>Desarrollador(actual)</strong></p>
					<p>Gobierno del estado</p>
					<p>Mayo. 2014</p>
				</div>
				<div class="cinfo"></div>	
			</article>
			<article>
				<div class="ccamp">
					<p><strong>Catedrático(actual)</strong></p>
					<p>CETEC</p>
					<p>Mar. 2014</p>
				</div>
				<div class="cinfo">Profesor de tecnologías de la información, Impartiendo curso de Frontend Básico.</div>	
			</article>
			<article>
				<div class="ccamp">
					<p><strong>Catedrático</strong></p>
					<p>Centro de Estudios Milenio Acapulco</p>
					<p>Sep. 2012 - Mayo 2014</p>
				</div>
				<div class="cinfo">Profesor de varias asignaturas, de pendiendo del perfil y cargas académicas. Clases impartidas: Redes, Programación Orientada a Objetos, Bases de datos, Análisis y Desarrollo de Sistemas, Informática, Lógica de programación, Arquitectura de computadoras, Etc.</div>	
			</article>
			<article>
				<div class="ccamp">
					<p><strong>Desarrollador</strong></p>
					<p>SmartBusiness</p>
					<p>Dic. 2013</p>
				</div>
				<div class="cinfo">Desarrollo de sitios web</div>	
			</article>
			<article>
				<div class="ccamp">
					<p><strong>Asistente de soporte técnico</strong></p>
					<p>Instituto Nacional de migración</p>
					<p>Nov / 2010 – Jun / 2011 </p>
				</div>
				<div class="cinfo">
					Asistente de soporte técnico para el Instituto Nacional de migración , las actividades realizadas fueron:
					<ul>
						<li>Colaborar en el mantenimiento preventivo y correctivo de los equipos del instituto en el área de Informática.</li>
						<li>Inventariado del equipo de cómputo y telecomunicaciones del instituto </li>
					</ul>
				</div>	
			</article>
			<article>
				<div class="ccamp">
					<p><strong>Asistente de soporte técnico y desarrollo</strong></p>
					<p>Radio y Televisión de Guerrero</p>
					<p>Jul / 2011 – Mar / 2012</p>
				</div>
				<div class="cinfo">
					Asistente de soporte técnico para el Instituto Nacional de migración , las actividades realizadas fueron:
					<ul>
						<li>Asistente de soporte y mantenimiento en el área de Sistemas</li>
						<li>Miembro del equipo de desarrollo Web, los sistemas desarrollados fueron:</li>
						<li>SAMBA</li>
						<li>SARO</li>
					</ul>
				</div>	
			</article>
		</section>
	</section>

	<section id="estudios" class="hiddn">
		<h2 class="titulom">Estudios</h2>
		
		<article class="universidad">
			<div class="einfo">
				<h3>Licenciatura</h3>
				<p class="etitulo">Ingeniería en Sistemas Computacionales</p>
				<p class="edetalles"><span>Mención honorifica </span>Promedio: 9.9</p>
				<p class="efecha">2008 - 2012</p>
				<p class="eescuela">Universidad Hipócrates</p>
			</div>
			<div class="eimg">
				<span class="icon-bookmark"></span>
			</div>
		</article>

		<article class="universidad">
			<div class="einfo">
				<h3>Curso</h3>
				<p class="etitulo">Redes CISCO</p>
				<p class="edetalles"><span>Capacitación para analizar, diseñar y montar una red con dispositivos CISCO</p>
				<p class="efecha">Febrero 2011</p>
				<p class="eescuela">VI semana de Ingeniería, Arquitectura, Contaduría y Administración, Universidad Hipócrates</p>
			</div>
			<div class="eimg">
				<span class="icon-bookmark"></span>
			</div>
		</article>


		<article class="universidad">
			<div class="einfo">
				<h3>Curso</h3>
				<p class="etitulo">Curso para desarrollo de aplicaciones en Windows Phone 8 y Windows 8.</p>
				<p class="edetalles"><span>Conferencias de lanzamiento de nuevos OS Taller desarrollo</p>
				<p class="efecha">Julio 2012</p>
				<p class="eescuela">Centro de convenciones Acapulco</p>
			</div>
			<div class="eimg">
				<span class="icon-bookmark"></span>
			</div>
		</article>

		<article class="universidad">
			<div class="einfo">
				<h3>Curso</h3>
				<a href="https://cursos.mejorando.la/usuarios/BettoJiimeneez/" target="_blank">Diseño web online</a>
				<p class="edetalles">Promedio: 9.3</p>
				<p class="efecha">Diciembre 2013</p>
				<a href="https://platzi.com/" target="_blank">Platzi</a>
			</div>
			<div class="eimg">
				<span class="icon-bookmark"></span>
			</div>
		</article>

		<article class="universidad">
			<div class="einfo">
				<h3>Curso</h3>
				<a href="https://cursos.mejorando.la/usuarios/BettoJiimeneez/" target="_blank">Frontend profesional</a>
				<p class="edetalles">Promedio: 10.0</p>
				<p class="efecha">Febrero 2014</p>
				<a href="https://platzi.com/" target="_blank">Platzi</a>
			</div>
			<div class="eimg">
				<span class="icon-bookmark"></span>
			</div>
		</article>

		<article class="universidad">
			<div class="einfo">
				<h3>Curso</h3>
				<a href="https://cursos.mejorando.la/usuarios/BettoJiimeneez/" target="_blank">Backend profesional</a>
				<p class="efecha">Abril 2014</p>
				<a href="https://platzi.com/" target="_blank">Platzi</a>
			</div>
			<div class="eimg">
			</div>
		</article>

	</section>

	<section id="proyectos" class="hiddn">
		<h2 class="titulo">Proyectos</h2>

		<article class="curso">
			<a href="http://daltonautomotriz.com/" target="_blank" class="url"></a>
			<figure style="background-image:url('images/dalton.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Dalton Automotriz HP</h2>
				<p>Desarrollo de sitio web empresarial informativo.</p>
				<p class="tecnologias">HTML5,CSS3,Javascript,jQuery</p>
				<p class="fecha">Marzo 2014</p>
			</div>
		</article>

		<article class="curso">
			<a href="http://rtvgro.net/saro/" target="_blank" class="url"></a>
			<figure style="background-image:url('images/saro.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Sistema Administrador de Reportes Online</h2>
				<p>Desarrollado para RTG, Este sistema permite almacenar, administrar y distribuir los reportes a través de la empresa.</p>
				<p class="tecnologias">HTML,Javascript,jQuery,CSS,PHP,MySQL</p>
				<p class="fecha">Enero 2011</p>
			</div>
		</article>

		<article class="curso">
			<a href="http://www.markerbox.com.mx/fortaleza/" target="_blank" class="url"></a>
			<figure style="background-image:url('images/fortaleza.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>La Fortaleza Carpintería</h2>
				<p>Catalogo de carpintería, que permite ademas, visualizar presupuestos creados previamente por el propietario de dicho negocio.</p>
				<p class="tecnologias">PHP,CSS,HTML,JavaScript,JQuery,MySQL,FPDF</p>
				<p class="fecha">Noviembre 2013</p>
			</div>
		</article>

		<article class="curso">
			<a href="http://www.inmobiliariavivienda.com.mx/" target="_blank" class="url"></a>
			<figure style="background-image:url('images/vivienda.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Inmobiliaria vivienda</h2>
				<p>Sitio web empresarial informativo, entre otras cosas contiene un catálogo de inmuebles</p>
				<p class="tecnologias">PHP,CSS,HTML,JavaScript,JQuery</p>
				<p class="fecha">Febrero 2013</p>
			</div>
		</article>

		<article class="curso">
			<a href="http://lastorresgemelas.com/" target="_blank" class="url"></a>
			<figure style="background-image:url('images/torres.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Las Torres Gemelas Acapulco</h2>
				<p>Sitio para el hotel las torres gemelas Acapulco, con modulo de reservación en linea. </p>
				<p class="tecnologias">HTML5,CSS3,Responsive Design, Retina display, Javascript, jQuery, PHP, MySQL</p>
				<p class="fecha">Diciembre 2013</p>
			</div>
		</article>

		<article class="curso">
			<a href="" class="url"></a>
			<figure style="background-image:url('images/agenda.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Agenda electrónica institucional</h2>
				<p>Permite agendar eventos, incluyendo a otros usuarios del sistema para informarlos colectivamente, también incorpora un chat para facilitar la comunicación.</p>
				<p class="tecnologias">C#, Firebird, Cristal Reports</p>
				<p class="fecha">Julio 2012</p>
			</div>
		</article>

		<article class="curso">
			<a href="" class="url"></a>
			<figure style="background-image:url('images/siaf.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Sistema Administrador de Funeraria</h2>
				<p>Administra catálogos de productos que se manejan en la empresa, así como los paquetes en venta, las solicitudes, contratos y gestión de pagos.</p>
				<p class="tecnologias">Java, iReports, Firebird</p>
				<p class="fecha">Diciembre 2012</p>
			</div>
		</article>

		<article class="curso">
			<a href="" class="url"></a>
			<figure style="background-image:url('images/medicinas.jpg');">
			</figure>
			<div class="curso_texto">
				<h2>Mis medicinas</h2>
				<p>Aplicación para Windows phone 8, que registra los medicamentos, genera los horarios y avisa cuando haya que administrarlos, así como una serie de detalles adicionales.</p>
				<p class="tecnologias">C#, XAML, SQLite</p>
				<p class="fecha">Abril 2013</p>
			</div>
		</article>
	</section>

	<footer>
		<p id="footer_titulo">
			<span>Curriculum</span> y portafolio digital
		</p>

		<p id="footer_creditos">Ing. Juan Alberto Jimenez Angel</p>
	</footer>
	<script src="/static/js/jquery-2.1.0.min.js"></script>
	<script src="/static/js/f.js"></script>
</body>
</html>