{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CV Juan Alberto Jimenez Angel</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/custom.css">
	<!-- <link rel="stylesheet" href="css/bootstrap.minCustom.css"> -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid deletePaddings">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">
			      	<img src="/static/images/avatar.jpg" alt="">
			      	<h1>Juan Alberto Jiménez Ángel</h1>
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="#" class="btnnb b1"><span class="icon-uniE604"></span>Información</a></li>
			        <li><a href="#" class="btnnb b2"><span class="icon-book"></span>Estudios</a></li>
			        <li><a href="#" class="btnnb b3"><span class="icon-wrench"></span>Proyectos</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</header>
	
	<section id="info">
		<div class="jumbotron marginTopHeader text-center">
		  <h2>Ingeniero en sistemas computacionales</h2>
		  <p>Apasionado con las nuevas tecnologias de desarrollo de software que actualmente están permitiendo ser al mundo un lugar mas rápido y cómodo.</p>
		</div>
		<div class="container-fluid">
			<div class="container separacionVertical" id="gral">
			<h3 class="text-center tituloPrincipal">Información general</h3>
			<div class="row">
				{%for info in infos%}
					<div class="col-xs-6 col-sm-4 col-md-3">
						<h4 class="titulo">{{ info.campo }}</h4>
						<div class="desc">{{ info.info }}</div>
					</div>
				{% endfor %}

			</div>
			</div>
		</div>
		<div class="container-fluid fondoObscuro">
			<div class="container separacionVertical" id="tecn">
			<h3 class="text-center tituloPrincipal">Tecnologías</h3>
			<div class="row">
				{%for tecno in tecnos%}
				<div class="col-xs-6 col-sm-4 col-md-3">
					<h4 class="titulo">{{ tecno.campo }}</h4>
					<div class="desc">{{ tecno.info }}</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="container separacionVertical" id="leng">
			<h3 class="text-center tituloPrincipal">Lenguajes</h3>
			<div class="row">
				{%for leng in lengs%}
				<div class="col-xs-6 col-sm-4 col-md-3">
					<h4 class="titulo">{{ leng.campo }}</h4>
					<div class="desc">{{ leng.info }}</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
		<div class="container-fluid fondoObscuro">
			<div class="container separacionVertical" id="expe">
			<h3 class="text-center tituloPrincipal">Experiencia profesional</h3>
			<div class="row">
				{%for exp in exps%}
				<div class="col-xs-6 col-sm-4">
					<h4 class="titulo">{{ exp.puesto }}<p class="expe-lugar">{{ exp.lugar }}</p></h4>
					<div class="desc">
					<p class="expe-fecha">{{ exp.fecha }}</p>
					{{ exp.info }}</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
	</section>
	<section id="estu">
		<div class="container-fluid">
			<div class="container separacionVertical" id="expe">
			<h3 class="text-center tituloPrincipal">Estudios y cursos</h3>
			<div class="row">
				{%for estu in estus%}
				<div class="col-xs-6 col-sm-4">
					<h4 class="titulo">{{ estu.nombre }}<p class="expe-lugar">{{ estu.titulo }}</p></h4>
					<div class="desc">
					<p class="expe-fecha">{{estu.fecha}}</p>
					{{estu.descripcion}}</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
	</section>
	<section id="proy">
		<div class="container-fluid">
			<div class="container separacionVertical" id="expe">
			<h3 class="text-center tituloPrincipal">Proyectos</h3>
			<div class="row">
				{% for proye in proyes %}
				<div class="col-xs-6 col-sm-4">
					<a class="thumbnail">
						{% thumbnail proye.imagen "694x418" crop="center" as im %}
				      <img src="{{ im.url }}" alt="...">
				      	{% endthumbnail %}
	
				      <div class="caption">
				        <h4 class="titulo">{{ proye.titulo }}<p class="expe-lugar">{{ proye.fecha }}</p></h4>
						<div class="desc">
							<p class="expe-fecha">{{ proye.tecnologias }}</p>
							{{ proye.descripcion }}
						</div>
					    </div>
				    </a>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
	</section>
	<footer>
		<p id="footer_titulo">
			<span>Curriculum</span> y portafolio
		</p>
		<p id="footer_creditos">Juan Alberto Jimenez Angel</p>
	</footer>
<!-- ===================================JS====================================== -->
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<!-- ===================================JS====================================== -->
</body>
</html>