{% load thumbnail %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>CV Juan Alberto Jimenez Angel</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Apasionado con las nuevas tecnologías de desarrollo de software que actualmente están permitiendo ser al mundo un lugar más rápido y cómodo." />
    
    <meta name="author" content="Juan Alberto Jimenez Angel" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/custom.css" %}">
	<link rel="shortcut icon" href="{% static "images/favico.ico" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>
	<header>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid deletePaddings">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">
			      	<img src="{% static "images/avatar.jpg" %}"alt="">
			      	<h1>Juan Alberto Jiménez Ángel</h1>
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="/"><span class="icon-information"></span>Información</a></li>
			        <li><a href="/estudios"><span class="icon-studies"></span>Estudios</a></li>
			        <li class="active"><a href="/proyectos"><span class="icon-projects"></span>Proyectos</a></li>
			        <li><a href="/contactame"><span class="icon-contact"></span>Contactame</a></li>
			        
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<a href="https://github.com/jualjiman" target="_blank"><span class="icon-github" title="GitHub:Jualjiman"></span></a>
		<a href="{% static "Curriculum Juan Alberto Jimenez Angel Actual.pdf" %}" target="_blank"><span class="icon-download" title="Descargar curriculum"></span></a>
	</header>
	
	<section id="loading">
		<img src="{% static "images/loading.gif" %}">
	</section>
	<section id="mainContent">
		<div class="container-fluid">
			<div class="container separacionVertical">
			<h3 class="text-center tituloPrincipal">Últimos proyectos</h3>
				<div class="row">
					{% for proye in proyes %}
					<div class="col-sm-6 col-md-4 separacionVerticalMin proye-im">
						{% if proye.link|length > 0 %}
							<a class="thumbnail pRelative" href="{{ proye.link }}" target="_blank">
						{%else%}
							<div class="thumbnail">
						{% endif %}
							{% thumbnail proye.imagen "694x418" crop="center" as im %}
					      <img src="{{ im.url }}" alt="...">
					      	{% endthumbnail %}
		
					      <div class="caption">
					        <h4 class="titulo">{{ proye.titulo }}</h4>
					        <p class="expe-lugar">{{ proye.fecha|date:"M Y" }}</p>
							<div class="desc">
								<p class="expe-fecha">{{ proye.tecnologias }}</p>
								{{ proye.descripcion }}
							</div>
						    </div>
						{% if proye.link|length > 0 %}
							<span class="icon-link icon-link-absolute"></span>
					    	</a>
					    {%else%}
					    	</div>
					    {% endif %}

					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid social">
		<div class="container">
			<row>
				<div class="col-md-4 text-center">
					<div class="g-plusone" data-size="tall"></div>
				</div>
				<div class="col-md-4 text-center">
					<div class="fb-like" data-href="http://jualjiman.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>
				<div class="col-md-4 text-center">
					<a href="https://twitter.com/jualjiman" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jualjiman</a>

				</div>
			</row>
		</div>
	</section>
	<footer>
		<p id="footer_titulo">
			<span>Curriculum</span> y portafolio
		</p>
		<p id="footer_creditos">Juan Alberto Jiménez Ángel</p>
	</footer>
<!-- ===================================JS====================================== -->
	<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/colsSameHeight-Bootstrap-3.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '848121238581514',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/es_LA/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
	<script src="https://apis.google.com/js/platform.js" async defer>
	  {lang: 'es-419'}
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53648845-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- ===================================JS====================================== -->
</body>
</html>